@reference "tailwindcss";

.container {
    @apply py-4 grid gap-2 items-center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template:
        "name controls"
        "value controls"
;
}

.name {
    @apply text-2xl font-bold;
    grid-area: name;
}

.value {
    grid-area: value;
}
.controls {
    grid-area: controls;
}
