@reference "tailwindcss";

.container {
    @apply py-4 grid gap-2 items-center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-template:
        "label controls"
        "uuid controls"
        "key controls"
        "baseRole controls"
;
}

.label {
    @apply text-2xl font-bold;
    grid-area: label;
}

.uuid {
    @apply text-gray-500;
    grid-area: uuid;
}

.key {
    grid-area: key;
}

.baseRole {
    grid-area: baseRole;
}

.controls {
    grid-area: controls;
} 