@reference "tailwindcss";

.menu {
    @apply flex flex-col gap-0;
    flex: 0 0 auto;
}

.menuItem {
    @apply flex flex-row items-stretch justify-items-stretch justify-stretch p-0 m-0 outline-0 font-bold hover:bg-amber-600;
    color: var(--main-menu-text-color);
    background-color: var(--main-menu-bg-color);
}
.menuItem:hover {
    color: var(--main-menu-bg-color-hover);
}

.menuItem > a {
    flex: 1 1 auto;
    @apply block text-left px-6 py-4 m-0 text-white font-bold;
}

.activeLink {
    @apply bg-amber-100 text-black!;
}
