@reference "tailwindcss";

.container {
    --bg-color-1: #366aaa;
    --bg-color-2: #2a496c;
    --bg-color-3: #2a496c;
    @apply box-border rounded-lg p-2 flex items-start space-x-4 max-w-[30em];
    background-image: linear-gradient(to bottom, var(--bg-color-1) 0%, var(--bg-color-2) 60%, var(--bg-color-3) 100%);
    background-attachment: fixed;
}

.innerContainer {}

.header {
    @apply flex items-center space-x-2 relative;
}

.timestamp {
    @apply text-xs text-yellow-500;
}

.replyButton {
    @apply cursor-pointer text-gray-400 hover:text-indigo-400;
}

.deleteButton {
    @apply cursor-pointer text-red-500;
}

.replyQuote {
    @apply mt-1 px-2 py-1 text-xs text-gray-400 border-l-2 border-indigo-400 bg-black/20 rounded-sm break-all;
}

.textContent {
    @apply text-gray-200 break-all py-2;
}

.attachmentsContainer {
    @apply p-2;
}

.attachment {
    @apply rounded-lg;
}

.isMine {
    @apply self-end;
}

.avatar {
    @apply w-10 h-10 rounded-full;
}
