@reference "tailwindcss";

.reactionsList {
    @apply flex flex-row gap-1 my-1;
}

.reaction {
    @apply bg-blue-500 border-blue-400 border-2 rounded-lg px-2 py-0.5 cursor-pointer hover:bg-blue-700;
}

.addReaction {
    @apply bg-blue-500 border-blue-400 border-2 rounded-lg px-2 py-0.5 cursor-pointer hover:bg-blue-700;
}
