@reference "tailwindcss";

.container {
    @apply relative flex flex-col bg-gray-900;
    flex: 0 1 30%;
}

.header {
    @apply flex flex-row items-center text-lg text-orange-400 font-bold m-2 mb-4;
}

.scrollArea {
    @apply flex-1 flex flex-col items-start p-4 overflow-y-auto gap-2;
}

.scrollUpFab {
    position: absolute;
    left: 40px;
    bottom: 100px;
    padding: 20px;
    z-index: 10;
    cursor: pointer;
    opacity: 0.5;
    background-color: rgb(42, 68, 133);
    border-radius: 50%;
    border: solid 1px white;

    &:hover {
        opacity: 1;
    }
}
