@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--page-bg-color);
    -webkit-tap-highlight-color: transparent;
}

/* themes */
:root {
    --color-main-accent: #9043f1;
    --color-black: #2A2451;
    --color-white: #FFFCFC;
    --color-gray: #423d62;

    --text-color: #000;
    --page-bg-color: #F6F6F6;

    --main-menu-bg-color: var(--color-white);
    --main-menu-text-color: var(--color-gray);
    --main-menu-border-color: #dedede;

    --button-bg-color: var(--color-main-accent);
    --button-text-color: var(--color-white);
    --switch-button-bg-color: #222222;
    --switch-button-bg-color-selected: #563333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #afafaf;
        --page-bg-color: #1B1A1E;
    }
}

@layer base {
    h1 {
        @apply p-4 text-amber-500 font-bold text-4xl;
    }
    h2 {
        @apply p-4 text-amber-500 font-bold text-3xl;
    }
}

body {
    margin: 0;
    padding: 0;
}
